@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Big+Shoulders+Stencil+Text:wght@100..900&family=Madimi+One&display=swap');
body{
    font-family: "Madimi One", sans-serif;
    background-image: url(main-background.jpg);
    margin: 0;
}
.title{
    color: red;
}
.navbar ul{
    list-style-type: none;
    background-color: rgba(27, 26, 26, 0.768);
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(60, 59, 59);
    color: red;
}
.navbar li{
    float: left;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
.e{
    text-align: center;
}
.btn{
    text-align: center;
}
.q{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 118);
     border-radius: 100px;
     border: 5px red double;
    cursor: pointer;
     width: 150px;
    height: px;
    font-size: 19px;
}      
.shedf{
    border-radius: 40px;
}
